## Проект

1. [Загрузка данных](#load_data)
2. [Полезные функции](#useful_functions)
3. [Подготовка данных](#data_preparation)
4. [Построение модели первого уровня](#first_level_model)
5. [Генерация признаков для модели второго уровня](#features_engineering)
6. [Построение модели второго уровня](#second_level_model)
7. [Рекомендации для тестового датасета](#final_recommendations)

### 1. Загрузка данных <a class="anchor" id="load_data"></a>

Загрузим необходимые библиотеки и данные.

In [149]:
import pandas as pd
import numpy as np

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit import als

from gensim.models import Word2Vec

# Модель второго уровня
from catboost import CatBoostClassifier

import os, sys
sys.path.insert(1, os.getcwd() + '/src/')

from metrics import precision_at_k, recall_at_k
from utils import prefilter_items
from recommenders import MainRecommender

In [150]:
data = pd.read_csv('webinar_8/course_project/data/retail_train.csv')
item_features = pd.read_csv('webinar_8/course_project/data/product.csv')
user_features = pd.read_csv('webinar_8/course_project/data/hh_demographic.csv')

### 2. Полезные функции <a class="anchor" id="useful_functions"></a>

Опишем функции, которые будут использоваться в дальнейшем.

In [151]:
def print_stats_data(df_data, name_df):
    print(name_df)
    print(f"Shape: {df_data.shape} Users: {df_data[USER_COL].nunique()} Items: {df_data[ITEM_COL].nunique()}")
    
def make_recommendations(df_result, recommend_model, N_PREDICT=50, USER_COL='user_id'):
    return df_result[USER_COL].apply(lambda x: recommend_model(x, N=N_PREDICT))

def calc_recall(df_data, top_k, ACTUAL_COL='actual'):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: recall_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()
        
def calc_precision(df_data, top_k, ACTUAL_COL='actual'):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: precision_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()
        
def rerank(user_id, df, USER_COL='user_id', proba_col_name='proba_item_purchase', N=5):
    return df[df[USER_COL]==user_id].sort_values(proba_col_name, ascending=False).head(N).item_id.tolist()

def get_scores(df_result, recommend_model, N_PREDICT=50, USER_COL='user_id'):
    return df_result[USER_COL].apply(lambda x: recommend_model(x, N=N_PREDICT))

### 3. Подготовка данных <a class="anchor" id="data_preparation"></a>

Проведем переименования определенных признаков и приведем названия к единообразному формату.

In [152]:
ITEM_COL = 'item_id'
USER_COL = 'user_id'

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': ITEM_COL}, inplace=True)
user_features.rename(columns={'household_key': USER_COL }, inplace=True)

Разделим выборку на обучающий, валидационный и тестовый датасеты.

In [153]:
# -- давние покупки -- | -- 5 недель -- | -- 3 недели -- 

VAL_MATCHER_WEEKS = 5
VAL_RANKER_WEEKS = 3

# берем данные для тренировки matching модели
data_train_matcher = data[data['week_no'] < data['week_no'].max() - (VAL_MATCHER_WEEKS + VAL_RANKER_WEEKS)]

# берем данные для валидации matching модели
data_val_matcher = data[(data['week_no'] >= data['week_no'].max() - (VAL_MATCHER_WEEKS + VAL_RANKER_WEEKS)) &
                      (data['week_no'] < data['week_no'].max() - (VAL_RANKER_WEEKS))]


# берем данные для тренировки ranking модели
data_train_ranker = data_val_matcher.copy()  # Для наглядности. Далее мы добавим изменения, и они будут отличаться

# берем данные для теста ranking, matching модели
data_val_ranker = data[data['week_no'] >= data['week_no'].max() - VAL_RANKER_WEEKS]

In [154]:
print_stats_data(data_train_matcher,'train_matcher')
print_stats_data(data_val_matcher,'val_matcher')
print_stats_data(data_train_ranker,'train_ranker')
print_stats_data(data_val_ranker,'val_ranker')

train_matcher
Shape: (2136728, 12) Users: 2498 Items: 84180
val_matcher
Shape: (141762, 12) Users: 2097 Items: 25770
train_ranker
Shape: (141762, 12) Users: 2097 Items: 25770
val_ranker
Shape: (118314, 12) Users: 2042 Items: 24329

Проведем префильтрацию данных.

In [155]:
n_items_before = data_train_matcher['item_id'].nunique()

data_train_matcher = prefilter_items(data_train_matcher, item_features=item_features, take_n_popular=10000)

n_items_after = data_train_matcher['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 84180 to 10001

Оставим только пользователей, которые встречаются в тренировочном датасете, чтобы избежать проблемы холодного старта.

In [156]:
# ищем общих пользователей
common_users = data_train_matcher.user_id.values

data_val_matcher = data_val_matcher[data_val_matcher.user_id.isin(common_users)]
data_train_ranker = data_train_ranker[data_train_ranker.user_id.isin(common_users)]
data_val_ranker = data_val_ranker[data_val_ranker.user_id.isin(common_users)]

print_stats_data(data_train_matcher,'train_matcher')
print_stats_data(data_val_matcher,'val_matcher')
print_stats_data(data_train_ranker,'train_ranker')
print_stats_data(data_val_ranker,'val_ranker')

train_matcher
Shape: (872777, 13) Users: 2496 Items: 10001
val_matcher
Shape: (141737, 12) Users: 2095 Items: 25768
train_ranker
Shape: (141737, 12) Users: 2095 Items: 25768
val_ranker
Shape: (118282, 12) Users: 2040 Items: 24325

### 4. Построение модели первого уровня <a class="anchor" id="first_level_model"></a>

Создадим экземляр класса MainRecommender.

In [157]:
recommender = MainRecommender(data_train_matcher)

  0%|          | 0/20 [00:00<?, ?it/s]

  0%|          | 0/10001 [00:00<?, ?it/s]

  0%|          | 0/10001 [00:00<?, ?it/s]

  0%|          | 0/10001 [00:00<?, ?it/s]

  0%|          | 0/10001 [00:00<?, ?it/s]

In [158]:
ACTUAL_COL = 'actual'
result_eval_matcher = data_val_matcher.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_matcher.columns=[USER_COL, ACTUAL_COL]
result_eval_matcher.head(2)

   user_id                                             actual
0        1  [1005186, 907466, 909497, 940947, 963542, 1067...
1        2  [15830248, 838136, 839656, 861272, 866211, 870...

In [107]:
N_PREDICT = 100

result_eval_matcher['own_rec'] = make_recommendations(result_eval_matcher, 
                                                      recommender.get_own_recommendations, 
                                                      N_PREDICT=N_PREDICT)

result_eval_matcher['als_rec'] = make_recommendations(result_eval_matcher, 
                                                      recommender.get_als_recommendations, 
                                                      N_PREDICT=N_PREDICT)

result_eval_matcher['bm25_rec'] = make_recommendations(result_eval_matcher, 
                                                      recommender.get_bm25_recommendations, 
                                                      N_PREDICT=N_PREDICT)

result_eval_matcher['tfidf_rec'] = make_recommendations(result_eval_matcher, 
                                                      recommender.get_tfidf_recommendations, 
                                                      N_PREDICT=N_PREDICT)

result_eval_matcher['cosine_rec'] = make_recommendations(result_eval_matcher, 
                                                      recommender.get_cosine_recommendations, 
                                                      N_PREDICT=N_PREDICT)

In [108]:
result_eval_matcher.head(2)

,user_id,actual,own_rec,als_rec,bm25_rec,tfidf_rec,cosine_rec
0,1,"[1005186, 907466, 909497, 940947, 963542, 1067...","[940947, 856942, 10149640, 865456, 1004906, 55...","[1029743, 1004906, 952163, 865456, 878285, 809...","[1127831, 940947, 916122, 844179, 1004906, 878...","[916122, 1127831, 844179, 866211, 1029743, 102...","[6391068, 877391, 9297615, 5577022, 5582712, 9..."
1,2,"[15830248, 838136, 839656, 861272, 866211, 870...","[8090521, 1075368, 1040807, 5569230, 940947, 1...","[5569845, 930118, 12301109, 5569230, 12302069,...","[1044078, 844179, 5569230, 916122, 8090521, 11...","[916122, 844179, 1029743, 1004906, 1044078, 55...","[8090521, 1103898, 978332, 1076580, 911974, 10..."

In [109]:
TOPK_RECALL = 100
sorted(calc_recall(result_eval_matcher, TOPK_RECALL), key=lambda x: x[1],reverse=True)

[('own_rec', 0.1277189626164173),
 ('tfidf_rec', 0.12683248535219407),
 ('als_rec', 0.12493139442435099),
 ('cosine_rec', 0.12390732213587671),
 ('bm25_rec', 0.11469747149566534)]

Как видим лучшие результаты показывает модель на основе предыдущих покупок пользователя.

### 5. Генерация признаков для модели второго уровня <a class="anchor" id="features_engineering"></a>

Cформируем датасет для построения модели ранжирования, сгенерируем новые признаки и построим модель, которая будет работать с отобранными товарами для построения окончательных рекомендаций.

In [110]:
# взяли пользователей из трейна для ранжирования

df_match_candidates = pd.DataFrame(data_train_ranker[USER_COL].unique())
df_match_candidates.columns = [USER_COL]

df_match_candidates['candidates'] = make_recommendations(df_match_candidates, 
                                                         recommender.get_own_recommendations, 
                                                         N_PREDICT=N_PREDICT)

df_match_candidates['candidates_scores'] = get_scores(df_match_candidates, 
                                                      recommender.get_own_scores, 
                                                      N_PREDICT=N_PREDICT)

df_items = df_match_candidates.apply(lambda x: pd.Series(x['candidates']), axis=1).stack().\
            reset_index(level=1, drop=True)
df_scores = df_match_candidates.apply(lambda x: pd.Series(x['candidates_scores']), axis=1).stack().\
            reset_index(level=1, drop=True)
df_items.name = 'item_id'
df_match_candidates = df_match_candidates.drop(['candidates', 'candidates_scores'], axis=1).join(df_items)

df_match_candidates['item_score'] = df_scores

df_match_candidates.head()

   user_id  item_id    item_score
0     1827   907631  57976.974666
0     1827   940947  42612.148521
0     1827  5568378  40380.408152
0     1827   854405  39497.493468
0     1827  1029743  28444.228691

In [111]:
df_ranker_train = data_train_ranker[[USER_COL, ITEM_COL]].copy()
df_ranker_train['target'] = 1  # тут только покупки 

df_ranker_train = df_match_candidates.merge(df_ranker_train, on=[USER_COL, ITEM_COL], how='left')

# чистим дубликаты
df_ranker_train = df_ranker_train.drop_duplicates(subset=[USER_COL, ITEM_COL])

df_ranker_train['target'].fillna(0, inplace= True)

df_ranker_train.head()

   user_id  item_id    item_score  target
0     1827   907631  57976.974666     0.0
1     1827   940947  42612.148521     0.0
2     1827  5568378  40380.408152     0.0
3     1827   854405  39497.493468     0.0
4     1827  1029743  28444.228691     1.0

In [112]:
df_ranker_train.target.value_counts()

0.0    192109
1.0     14645
Name: target, dtype: int64

In [113]:
df_ranker_train = df_ranker_train.merge(item_features, on='item_id', how='left')
df_ranker_train = df_ranker_train.merge(user_features, on='user_id', how='left')

df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сгенерируем новые признаки и добавим их к датасету для обучения.

In [114]:
# Добавим параметр категории к исходному обучающему датасету для удобства создания новых фичей
data_department = data_train_ranker.merge(item_features[['item_id', 'department']], on='item_id', how='inner')
data_department.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,department
0,1827,40702967646,601,891141,2,2.73,33923,0.0,7,87,0.0,0.0,PRODUCE
1,496,40739402373,603,891141,1,1.83,445,0.0,2226,87,0.0,0.0,PRODUCE

In [115]:
# Средная цена купленных товаров пользователем
users_sales = data_train_ranker.groupby(USER_COL)[['sales_value', 'quantity']].sum().reset_index()
users_sales['avg_price'] = users_sales['sales_value'] / users_sales['quantity']
df_ranker_train = df_ranker_train.merge(users_sales[['user_id', 'avg_price']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_price
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.208947
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.208947

In [116]:
# Количество покупок в каждой категории и средная сумма покупки в каждой категории для пользователя
users_sales_department = data_department.groupby([USER_COL, 'department'])\
                        [['sales_value', 'quantity']].sum().reset_index()
users_sales_department.rename(columns={'quantity': 'n_sold_category'}, inplace=True)
users_sales_department['avg_transaction_category'] = users_sales_department['sales_value']\
                                                    /users_sales_department['n_sold_category']
users_sales_department.drop(columns=['sales_value'], inplace=True)

df_ranker_train = df_ranker_train.merge(
    users_sales_department, on=[USER_COL, 'department'], how='left')
df_ranker_train['Missing n_sold_category'] = 0
df_ranker_train.loc[df_ranker_train['n_sold_category'].isna(), 'Missing n_sold_category'] = 1
df_ranker_train['n_sold_category'].fillna(0, inplace=True)

df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_price,n_sold_category,avg_transaction_category,Missing n_sold_category
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,NaN,NaN,NaN,NaN,NaN,NaN,2.208947,25.0,2.2408,0
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,NaN,NaN,NaN,NaN,NaN,NaN,2.208947,2.0,1.4900,0

In [117]:
# Средняя сумма покупки в категории
department_sales = data_department.groupby('department')['sales_value'].mean().reset_index()
department_sales.rename(columns={'sales_value': 'mean_sales_value_category'}, inplace=True)
department_sales.tail(2)

n_weeks = data_department['week_no'].max() - data_department['week_no'].min() + 1

# Количество покупок юзером конкретной категории в неделю
users_department = data_department.groupby([USER_COL, 'department'])['quantity'].sum().reset_index()
users_department['quantity'] /= n_weeks
users_department.rename(columns={'quantity': 'n_sold_category_user_week'}, inplace=True)

df_ranker_train = df_ranker_train.merge(department_sales, on='department', how='left')
df_ranker_train = df_ranker_train.merge(users_department, on=[USER_COL, 'department'], how='left')
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_price,n_sold_category,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,NaN,NaN,NaN,NaN,2.208947,25.0,2.2408,0,2.541433,5.0
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,NaN,NaN,NaN,NaN,2.208947,2.0,1.4900,0,3.828210,0.4

In [118]:
# Цена
items_sales = data_department.groupby(ITEM_COL)[['sales_value', 'quantity']].sum().reset_index()
items_sales['price'] = items_sales['sales_value'] / items_sales['quantity']
items_sales['price'].fillna(0, inplace=True)

# Количество покупок товара в неделю
items_sales['quantity_per_week'] = items_sales['quantity'] / n_weeks


df_ranker_train = df_ranker_train.merge(items_sales[[ITEM_COL,'price', 'quantity_per_week']],
                                        on=ITEM_COL, how='left')

df_ranker_train['Missing price'] = 0
df_ranker_train.loc[df_ranker_train['price'].isna(), 'Missing price'] = 1
df_ranker_train['price'].fillna(0, inplace=True)

df_ranker_train['Missing quantity per week'] = 0
df_ranker_train.loc[df_ranker_train['quantity_per_week'].isna(), 'Missing quantity per week'] = 1
df_ranker_train['quantity_per_week'].fillna(0, inplace=True)

df_ranker_train.head()

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,avg_price,n_sold_category,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,2.208947,25.0,2.2408,0,2.541433,5.0,2.985366,16.4,0,0
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,2.208947,2.0,1.4900,0,3.828210,0.4,2.650096,20.8,0,0
2,1827,5568378,40380.408152,0.0,544,GROCERY,National,BAG SNACKS,TORTILLA/NACHO CHIPS,12.5 OZ,...,2.208947,25.0,2.2408,0,2.541433,5.0,2.381258,30.2,0,0
3,1827,854405,39497.493468,0.0,397,MEAT-PCKGD,National,MEAT - MISC,BREAST - BONELESS(IQF),40 OZ,...,2.208947,2.0,1.4900,0,3.828210,0.4,6.779474,11.4,0,0
4,1827,1029743,28444.228691,1.0,69,GROCERY,Private,FLUID MILK PRODUCTS,FLUID MILK WHITE ONLY,1 GA,...,2.208947,25.0,2.2408,0,2.541433,5.0,2.424173,198.4,0,0

In [119]:
# Количество уникальных магазинов, в которых продавался товар
items_stores = data_department.groupby(ITEM_COL)['store_id'].nunique().reset_index()
items_stores.rename(columns={'store_id': 'n_unique_stores'}, inplace=True)
df_ranker_train = df_ranker_train.merge(items_stores, on=ITEM_COL, how='left')

df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,n_sold_category,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,25.0,2.2408,0,2.541433,5.0,2.985366,16.4,0,0,41.0
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,2.0,1.4900,0,3.828210,0.4,2.650096,20.8,0,0,49.0

In [120]:
# Среднее количество транзакций клиента в неделю
users_transactions = data_department.groupby(USER_COL)[ITEM_COL].count().reset_index()
users_transactions.rename(columns={'item_id': 'n_transactions_per_week'}, inplace=True)
users_transactions['n_transactions_per_week'] /= n_weeks


df_ranker_train = df_ranker_train.merge(users_transactions, on=USER_COL, how='left')

df_ranker_train.tail(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,avg_transaction_category,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week
206752,1745,841443,3106.164464,0.0,1087,SEAFOOD-PCKGD,National,SEAFOOD - FROZEN,FRZN BRD STICK/PORTON,24.5 OZ,...,NaN,1,5.810053,NaN,0.0,0.0,1,1,NaN,0.6
206753,1745,949120,3083.968051,0.0,1318,GROCERY,National,PICKLE/RELISH/PKLD VEG,PICKLES,24 OZ,...,2.663333,0,2.541433,0.6,0.0,0.0,1,1,NaN,0.6

In [121]:
# Средний чек
users_sales = data_train_ranker.groupby(USER_COL)['sales_value'].mean().reset_index()
users_sales.rename(columns={'sales_value': 'avg_cheque'}, inplace=True)
df_ranker_train = df_ranker_train.merge(users_sales[['user_id', 'avg_cheque']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,Missing n_sold_category,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,0,2.541433,5.0,2.985366,16.4,0,0,41.0,6.0,2.798
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,0,3.828210,0.4,2.650096,20.8,0,0,49.0,6.0,2.798

In [122]:
# Среднее количество уникальных категорий в корзине
users_baskets = data_department.groupby([USER_COL, 'basket_id'])['department'].nunique().reset_index()
users_baskets = users_baskets.groupby(USER_COL)['department'].mean().reset_index()
users_baskets.rename(columns={'department': 'avg_basket_department'}, inplace=True)
df_ranker_train = df_ranker_train.merge(users_baskets[['user_id', 'avg_basket_department']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,mean_sales_value_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,2.541433,5.0,2.985366,16.4,0,0,41.0,6.0,2.798,2.4
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,3.828210,0.4,2.650096,20.8,0,0,49.0,6.0,2.798,2.4

Построим признак, отражающий средний интервал между покупками пользователя.

In [123]:
users_days = data_department.groupby(USER_COL)['day'].unique().reset_index()
users_days['day'] = users_days['day'].apply(lambda x: sorted(x))
users_days.head()

   user_id                                                day
0        1                     [606, 608, 610, 620, 622, 632]
1        2                               [608, 614, 620, 622]
2        4                                    [605, 617, 627]
3        6  [603, 607, 610, 611, 616, 619, 620, 624, 627, ...
4        7                          [606, 610, 614, 623, 629]

In [124]:
def avg_ndays(days):
    diff = 0
    if len(days) > 1:
        for i in range(len(days) - 1):
            diff += days[i+1] - days[i]
        return diff / (len(days) - 1)
    else:
        return 0
    
users_days['avg_interval'] = users_days['day'].apply(avg_ndays)

df_ranker_train = df_ranker_train.merge(users_days[['user_id', 'avg_interval']], on='user_id', how='left')
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,5.0,2.985366,16.4,0,0,41.0,6.0,2.798,2.4,7.0
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,0.4,2.650096,20.8,0,0,49.0,6.0,2.798,2.4,7.0

Построим признак, в котором будет закодировано место товара в пяти последних покупках клиента.

In [125]:
users_items = data_train_ranker.groupby(USER_COL)[ITEM_COL].apply(list).reset_index()
users_items['item_id'] = users_items['item_id'].apply(lambda x: x[-5:])
users_items.head()

   user_id                                            item_id
0        1     [5577022, 8293439, 9526676, 9527558, 10149640]
1        2  [7407562, 10149597, 13776981, 15572067, 17215077]
2        4       [963365, 1038692, 1133312, 5570830, 7431408]
3        6       [1099058, 895268, 1017061, 1082185, 1119051]
4        7  [9837501, 12524016, 13072715, 13987153, 13987338]

In [126]:
def code_last_sales(x, df=users_items):
    last_sales = df.loc[df['user_id'] == x[0], 'item_id'].item()
    code = str()
    last_sales.reverse()
    for item in last_sales:
        code += '1' if item == x[1] else '0'
    return code

df_ranker_train['Last5sales'] = df_ranker_train[[USER_COL, ITEM_COL]].apply(code_last_sales, axis=1)
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,price,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval,Last5sales
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,2.985366,16.4,0,0,41.0,6.0,2.798,2.4,7.0,00000
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,2.650096,20.8,0,0,49.0,6.0,2.798,2.4,7.0,00000

Построим модель Word2Vec для получения эмбеддингов товаров, а затем посчитаем длину вектора, описывающего каждый товар, и расстояние от word2vec эмбеддинга товара до среднего эмбеддинга товаров, купленных юзером.

In [127]:
df_ = data_train_ranker.groupby(USER_COL)[ITEM_COL].unique().reset_index()
df_.head()

   user_id                                            item_id
0        1  [1005186, 907466, 909497, 940947, 963542, 1067...
1        2  [15830248, 838136, 839656, 861272, 866211, 870...
2        4  [883932, 970760, 1035676, 1055863, 1097610, 67...
3        6  [873654, 994928, 1098844, 1122879, 8357613, 98...
4        7  [836281, 843306, 845294, 914190, 920456, 93886...

In [128]:
purchases = []

for user in df_['user_id']:
    purchases.append([str(item) for item in df_[df_['user_id'] == user].item_id.values[0]])
    
print(f"Total # of Sessions: {len(purchases)}")

Total # of Sessions: 2095

In [129]:
w2v_model = Word2Vec(min_count=1, vector_size=100, sg=1, workers=3)
w2v_model.build_vocab(purchases, progress_per=100)
w2v_model.train(purchases, total_examples=w2v_model.corpus_count, epochs=10, report_delay=1)

(1209168, 1214930)

In [130]:
def word2vec_len(itemid):
    try:
        return sum([i**2 for i in w2v_model.wv[str(itemid)]])
    except:
        return -1

df_ranker_train['Word2Vec_length'] = df_ranker_train[ITEM_COL].apply(lambda x: word2vec_len(x))
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,quantity_per_week,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval,Last5sales,Word2Vec_length
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,16.4,0,0,41.0,6.0,2.798,2.4,7.0,00000,7.835328
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,20.8,0,0,49.0,6.0,2.798,2.4,7.0,00000,5.329315

In [131]:
def avg_word2vec(items):
    return sum([w2v_model.wv[str(item)] for item in items]) / len(items)

df_['Avg_Word2Vec'] = df_[ITEM_COL].apply(avg_word2vec)
df_.head()

,user_id,item_id,Avg_Word2Vec
0,1,"[1005186, 907466, 909497, 940947, 963542, 1067...","[-0.10120829, 0.18415342, 0.20221527, 0.029377..."
1,2,"[15830248, 838136, 839656, 861272, 866211, 870...","[-0.08779188, 0.25222468, 0.1980915, 0.0718078..."
2,4,"[883932, 970760, 1035676, 1055863, 1097610, 67...","[-0.091678925, 0.22791041, 0.2036396, 0.040305..."
3,6,"[873654, 994928, 1098844, 1122879, 8357613, 98...","[-0.0846933, 0.23002356, 0.19777997, 0.0479379..."
4,7,"[836281, 843306, 845294, 914190, 920456, 93886...","[-0.097898796, 0.21707712, 0.21227123, 0.03086..."

In [132]:
def get_w2v_distance(x, df=df_):
    avg_w2v = df.loc[df_[USER_COL] == x[0], 'Avg_Word2Vec'].item()
    try:
        return sum((w2v_model.wv[str(x[1])] - avg_w2v) ** 2)
    except:
        return -1
    
df_ranker_train['Word2Vec_distance_from_avg'] = df_ranker_train[[USER_COL, ITEM_COL]].\
                                                apply(get_w2v_distance, axis=1)
df_ranker_train.head(2)

,user_id,item_id,item_score,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,...,Missing price,Missing quantity per week,n_unique_stores,n_transactions_per_week,avg_cheque,avg_basket_department,avg_interval,Last5sales,Word2Vec_length,Word2Vec_distance_from_avg
0,1827,907631,57976.974666,0.0,1039,GROCERY,National,FROZEN PIZZA,SNACKS/APPETIZERS,,...,0,0,41.0,6.0,2.798,2.4,7.0,00000,7.835328,3.921140
1,1827,940947,42612.148521,0.0,2082,MEAT-PCKGD,National,HEAT/SERVE,ENTREES,24 OZ,...,0,0,49.0,6.0,2.798,2.4,7.0,00000,5.329315,1.942054

### 6. Построение модели второго уровня <a class="anchor" id="second_level_model"></a>

Теперь обучим модель ранжирования и посчитаем метрики.

In [133]:
X_train = df_ranker_train.drop(['target', 
                                'Missing n_sold_category', 
                                'n_sold_category_user_week', 
                                'mean_sales_value_category',], axis=1)
y_train = df_ranker_train['target']

In [134]:
cat_feats = ['manufacturer', 
             'department', 
             'brand', 
             'commodity_desc',
             'sub_commodity_desc',
             'curr_size_of_product',
             'age_desc',
             'marital_status_code',
             'income_desc',
             'homeowner_desc',
             'hh_comp_desc',
             'household_size_desc',
             'kid_category_desc',
             'Missing price',
             'Missing quantity per week',
             'Last5sales',
            ]


for column in cat_feats:
    X_train[column].fillna(0, inplace=True)
    
X_train[cat_feats] = X_train[cat_feats].astype('category')

In [135]:
%%time
cb = CatBoostClassifier(learning_rate=0.1,
                        max_depth=12,
                        n_estimators=500,
                        random_state=42, 
                        cat_features=cat_feats, 
                        silent=False)

cb.fit(X_train, y_train)

train_preds = cb.predict_proba(X_train)

0:	learn: 0.5463999	total: 630ms	remaining: 5m 14s
1:	learn: 0.4593860	total: 827ms	remaining: 3m 25s
2:	learn: 0.3922669	total: 1.55s	remaining: 4m 16s
3:	learn: 0.3465233	total: 2.15s	remaining: 4m 26s
4:	learn: 0.3138862	total: 2.45s	remaining: 4m 2s
5:	learn: 0.2792923	total: 3.4s	remaining: 4m 39s
6:	learn: 0.2533598	total: 4.39s	remaining: 5m 8s
7:	learn: 0.2368484	total: 5.03s	remaining: 5m 9s
8:	learn: 0.2254740	total: 6.12s	remaining: 5m 33s
9:	learn: 0.2159022	total: 6.62s	remaining: 5m 24s
10:	learn: 0.2100582	total: 6.99s	remaining: 5m 10s
11:	learn: 0.2056133	total: 7.36s	remaining: 4m 59s
12:	learn: 0.1996580	total: 8.31s	remaining: 5m 11s
13:	learn: 0.1955030	total: 9.27s	remaining: 5m 21s
14:	learn: 0.1927350	total: 10.1s	remaining: 5m 27s
15:	learn: 0.1901216	total: 11.2s	remaining: 5m 40s
16:	learn: 0.1878460	total: 12.7s	remaining: 6m 1s
17:	learn: 0.1859331	total: 13.7s	remaining: 6m 7s
18:	learn: 0.1845409	total: 14.7s	remaining: 6m 12s
19:	learn: 0.1831723	total: 15.7s	remaining: 6m 16s
20:	learn: 0.1816956	total: 16.8s	remaining: 6m 22s
21:	learn: 0.1801348	total: 17.7s	remaining: 6m 24s
22:	learn: 0.1790069	total: 18.7s	remaining: 6m 27s
23:	learn: 0.1777930	total: 19.7s	remaining: 6m 30s
24:	learn: 0.1763480	total: 21s	remaining: 6m 39s
25:	learn: 0.1752285	total: 22.3s	remaining: 6m 46s
26:	learn: 0.1744478	total: 23.1s	remaining: 6m 45s
27:	learn: 0.1739741	total: 24.3s	remaining: 6m 49s
28:	learn: 0.1731318	total: 25.2s	remaining: 6m 49s
29:	learn: 0.1720535	total: 26.2s	remaining: 6m 50s
30:	learn: 0.1712835	total: 27.3s	remaining: 6m 53s
31:	learn: 0.1706672	total: 28.2s	remaining: 6m 52s
32:	learn: 0.1702503	total: 29.1s	remaining: 6m 51s
33:	learn: 0.1693283	total: 30s	remaining: 6m 51s
34:	learn: 0.1685689	total: 31s	remaining: 6m 52s
35:	learn: 0.1679960	total: 32s	remaining: 6m 52s
36:	learn: 0.1677509	total: 33.1s	remaining: 6m 53s
37:	learn: 0.1674289	total: 34.2s	remaining: 6m 55s
38:	learn: 0.1670470	total: 35.5s	remaining: 6m 59s
39:	learn: 0.1668438	total: 36.6s	remaining: 7m 1s
40:	learn: 0.1662360	total: 37.7s	remaining: 7m 1s
41:	learn: 0.1657722	total: 38.6s	remaining: 7m
42:	learn: 0.1655940	total: 39.7s	remaining: 7m 2s
43:	learn: 0.1653809	total: 40.6s	remaining: 7m
44:	learn: 0.1651038	total: 41.5s	remaining: 6m 59s
45:	learn: 0.1646268	total: 42.5s	remaining: 6m 59s
46:	learn: 0.1643554	total: 43.4s	remaining: 6m 58s
47:	learn: 0.1637147	total: 44.3s	remaining: 6m 57s
48:	learn: 0.1635271	total: 45.5s	remaining: 6m 58s
49:	learn: 0.1630570	total: 46.4s	remaining: 6m 57s
50:	learn: 0.1627993	total: 47.4s	remaining: 6m 57s
51:	learn: 0.1617733	total: 48.6s	remaining: 6m 58s
52:	learn: 0.1612504	total: 49.6s	remaining: 6m 58s
53:	learn: 0.1607089	total: 50.5s	remaining: 6m 57s
54:	learn: 0.1605011	total: 51.5s	remaining: 6m 56s
55:	learn: 0.1597962	total: 52.3s	remaining: 6m 54s
56:	learn: 0.1594739	total: 53.3s	remaining: 6m 54s
57:	learn: 0.1591743	total: 54s	remaining: 6m 51s
58:	learn: 0.1589187	total: 54.9s	remaining: 6m 50s
59:	learn: 0.1587394	total: 56s	remaining: 6m 50s
60:	learn: 0.1583765	total: 57.1s	remaining: 6m 51s
61:	learn: 0.1578339	total: 58.1s	remaining: 6m 50s
62:	learn: 0.1573009	total: 59.1s	remaining: 6m 50s
63:	learn: 0.1566005	total: 1m	remaining: 6m 50s
64:	learn: 0.1558365	total: 1m 1s	remaining: 6m 49s
65:	learn: 0.1552791	total: 1m 2s	remaining: 6m 48s
66:	learn: 0.1551098	total: 1m 3s	remaining: 6m 48s
67:	learn: 0.1546558	total: 1m 4s	remaining: 6m 46s
68:	learn: 0.1542296	total: 1m 5s	remaining: 6m 46s
69:	learn: 0.1537717	total: 1m 6s	remaining: 6m 46s
70:	learn: 0.1535671	total: 1m 7s	remaining: 6m 45s
71:	learn: 0.1532628	total: 1m 8s	remaining: 6m 45s
72:	learn: 0.1531758	total: 1m 9s	remaining: 6m 44s
73:	learn: 0.1527353	total: 1m 10s	remaining: 6m 43s
74:	learn: 0.1524079	total: 1m 11s	remaining: 6m 42s
75:	learn: 0.1521656	total: 1m 12s	remaining: 6m 42s
76:	learn: 0.1518748	total: 1m 12s	remaining: 6m 40s
77:	learn: 0.1517406	total: 1m 13s	remaining: 6m 40s
78:	learn: 0.1515092	total: 1m 15s	remaining: 6m 39s
79:	learn: 0.1507393	total: 1m 15s	remaining: 6m 38s
80:	learn: 0.1502304	total: 1m 16s	remaining: 6m 37s
81:	learn: 0.1499451	total: 1m 17s	remaining: 6m 37s
82:	learn: 0.1496827	total: 1m 18s	remaining: 6m 36s
83:	learn: 0.1492585	total: 1m 19s	remaining: 6m 35s
84:	learn: 0.1489117	total: 1m 20s	remaining: 6m 34s
85:	learn: 0.1485900	total: 1m 21s	remaining: 6m 33s
86:	learn: 0.1482073	total: 1m 22s	remaining: 6m 32s
87:	learn: 0.1480409	total: 1m 23s	remaining: 6m 32s
88:	learn: 0.1478351	total: 1m 24s	remaining: 6m 31s
89:	learn: 0.1472379	total: 1m 25s	remaining: 6m 31s
90:	learn: 0.1471051	total: 1m 27s	remaining: 6m 31s
91:	learn: 0.1465553	total: 1m 28s	remaining: 6m 30s
92:	learn: 0.1463478	total: 1m 29s	remaining: 6m 30s
93:	learn: 0.1459370	total: 1m 30s	remaining: 6m 29s
94:	learn: 0.1456905	total: 1m 31s	remaining: 6m 29s
95:	learn: 0.1453331	total: 1m 32s	remaining: 6m 28s
96:	learn: 0.1452038	total: 1m 33s	remaining: 6m 27s
97:	learn: 0.1449041	total: 1m 34s	remaining: 6m 26s
98:	learn: 0.1445795	total: 1m 35s	remaining: 6m 27s
99:	learn: 0.1442951	total: 1m 36s	remaining: 6m 27s
100:	learn: 0.1440165	total: 1m 38s	remaining: 6m 27s
101:	learn: 0.1433674	total: 1m 39s	remaining: 6m 29s
102:	learn: 0.1432445	total: 1m 41s	remaining: 6m 29s
103:	learn: 0.1428291	total: 1m 42s	remaining: 6m 30s
104:	learn: 0.1427528	total: 1m 43s	remaining: 6m 31s
105:	learn: 0.1425434	total: 1m 45s	remaining: 6m 30s
106:	learn: 0.1424670	total: 1m 46s	remaining: 6m 30s
107:	learn: 0.1422574	total: 1m 47s	remaining: 6m 30s
108:	learn: 0.1417883	total: 1m 49s	remaining: 6m 32s
109:	learn: 0.1412371	total: 1m 51s	remaining: 6m 33s
110:	learn: 0.1408311	total: 1m 52s	remaining: 6m 34s
111:	learn: 0.1404052	total: 1m 53s	remaining: 6m 32s
112:	learn: 0.1401000	total: 1m 54s	remaining: 6m 32s
113:	learn: 0.1399904	total: 1m 55s	remaining: 6m 32s
114:	learn: 0.1398117	total: 1m 57s	remaining: 6m 32s
115:	learn: 0.1390865	total: 1m 58s	remaining: 6m 31s
116:	learn: 0.1388953	total: 1m 58s	remaining: 6m 29s
117:	learn: 0.1388922	total: 1m 59s	remaining: 6m 25s
118:	learn: 0.1385061	total: 2m	remaining: 6m 24s
119:	learn: 0.1381581	total: 2m 1s	remaining: 6m 23s
120:	learn: 0.1377405	total: 2m 2s	remaining: 6m 22s
121:	learn: 0.1375053	total: 2m 3s	remaining: 6m 21s
122:	learn: 0.1371557	total: 2m 4s	remaining: 6m 20s
123:	learn: 0.1369433	total: 2m 5s	remaining: 6m 19s
124:	learn: 0.1367198	total: 2m 5s	remaining: 6m 17s
125:	learn: 0.1365356	total: 2m 6s	remaining: 6m 16s
126:	learn: 0.1362672	total: 2m 7s	remaining: 6m 15s
127:	learn: 0.1360487	total: 2m 8s	remaining: 6m 13s
128:	learn: 0.1353923	total: 2m 9s	remaining: 6m 12s
129:	learn: 0.1351152	total: 2m 10s	remaining: 6m 11s
130:	learn: 0.1349617	total: 2m 11s	remaining: 6m 10s
131:	learn: 0.1346732	total: 2m 12s	remaining: 6m 9s
132:	learn: 0.1341558	total: 2m 13s	remaining: 6m 8s
133:	learn: 0.1337926	total: 2m 14s	remaining: 6m 7s
134:	learn: 0.1335303	total: 2m 15s	remaining: 6m 5s
135:	learn: 0.1332752	total: 2m 16s	remaining: 6m 4s
136:	learn: 0.1329805	total: 2m 17s	remaining: 6m 3s
137:	learn: 0.1325193	total: 2m 18s	remaining: 6m 2s
138:	learn: 0.1322325	total: 2m 18s	remaining: 6m
139:	learn: 0.1317858	total: 2m 19s	remaining: 5m 59s
140:	learn: 0.1316002	total: 2m 20s	remaining: 5m 58s
141:	learn: 0.1313469	total: 2m 21s	remaining: 5m 57s
142:	learn: 0.1311310	total: 2m 22s	remaining: 5m 56s
143:	learn: 0.1306994	total: 2m 23s	remaining: 5m 54s
144:	learn: 0.1304005	total: 2m 24s	remaining: 5m 53s
145:	learn: 0.1301359	total: 2m 25s	remaining: 5m 52s
146:	learn: 0.1297013	total: 2m 26s	remaining: 5m 51s
147:	learn: 0.1293878	total: 2m 27s	remaining: 5m 50s
148:	learn: 0.1288551	total: 2m 28s	remaining: 5m 49s
149:	learn: 0.1284188	total: 2m 29s	remaining: 5m 47s
150:	learn: 0.1279708	total: 2m 30s	remaining: 5m 46s
151:	learn: 0.1277437	total: 2m 30s	remaining: 5m 45s
152:	learn: 0.1275212	total: 2m 31s	remaining: 5m 44s
153:	learn: 0.1271912	total: 2m 32s	remaining: 5m 42s
154:	learn: 0.1268055	total: 2m 33s	remaining: 5m 41s
155:	learn: 0.1264173	total: 2m 34s	remaining: 5m 40s
156:	learn: 0.1260461	total: 2m 35s	remaining: 5m 39s

157:	learn: 0.1255659	total: 2m 36s	remaining: 5m 38s
158:	learn: 0.1251949	total: 2m 37s	remaining: 5m 37s
159:	learn: 0.1249748	total: 2m 38s	remaining: 5m 36s
160:	learn: 0.1247654	total: 2m 39s	remaining: 5m 35s
161:	learn: 0.1245906	total: 2m 40s	remaining: 5m 34s
162:	learn: 0.1243646	total: 2m 41s	remaining: 5m 33s
163:	learn: 0.1241669	total: 2m 42s	remaining: 5m 32s
164:	learn: 0.1237869	total: 2m 43s	remaining: 5m 31s
165:	learn: 0.1236011	total: 2m 43s	remaining: 5m 29s
166:	learn: 0.1235091	total: 2m 44s	remaining: 5m 28s
167:	learn: 0.1230800	total: 2m 45s	remaining: 5m 27s
168:	learn: 0.1229817	total: 2m 46s	remaining: 5m 26s
169:	learn: 0.1228189	total: 2m 47s	remaining: 5m 25s
170:	learn: 0.1225126	total: 2m 48s	remaining: 5m 24s
171:	learn: 0.1220269	total: 2m 49s	remaining: 5m 23s
172:	learn: 0.1216741	total: 2m 50s	remaining: 5m 22s
173:	learn: 0.1212281	total: 2m 51s	remaining: 5m 21s
174:	learn: 0.1208616	total: 2m 52s	remaining: 5m 21s
175:	learn: 0.1206023	total: 2m 53s	remaining: 5m 20s
176:	learn: 0.1205327	total: 2m 54s	remaining: 5m 19s
177:	learn: 0.1203388	total: 2m 55s	remaining: 5m 17s
178:	learn: 0.1201673	total: 2m 56s	remaining: 5m 16s
179:	learn: 0.1197113	total: 2m 57s	remaining: 5m 15s
180:	learn: 0.1192948	total: 2m 58s	remaining: 5m 14s
181:	learn: 0.1191328	total: 2m 59s	remaining: 5m 13s
182:	learn: 0.1189582	total: 3m	remaining: 5m 12s
183:	learn: 0.1185053	total: 3m 1s	remaining: 5m 11s
184:	learn: 0.1184332	total: 3m 2s	remaining: 5m 10s
185:	learn: 0.1179253	total: 3m 3s	remaining: 5m 9s
186:	learn: 0.1176477	total: 3m 4s	remaining: 5m 7s
187:	learn: 0.1170934	total: 3m 4s	remaining: 5m 6s
188:	learn: 0.1167976	total: 3m 5s	remaining: 5m 5s
189:	learn: 0.1165662	total: 3m 6s	remaining: 5m 4s
190:	learn: 0.1161903	total: 3m 7s	remaining: 5m 3s
191:	learn: 0.1158814	total: 3m 8s	remaining: 5m 2s
192:	learn: 0.1157038	total: 3m 9s	remaining: 5m 1s
193:	learn: 0.1155293	total: 3m 10s	remaining: 5m
194:	learn: 0.1152925	total: 3m 11s	remaining: 4m 59s
195:	learn: 0.1147321	total: 3m 12s	remaining: 4m 58s
196:	learn: 0.1144417	total: 3m 13s	remaining: 4m 57s
197:	learn: 0.1141797	total: 3m 14s	remaining: 4m 56s
198:	learn: 0.1138298	total: 3m 14s	remaining: 4m 54s
199:	learn: 0.1137071	total: 3m 16s	remaining: 4m 54s
200:	learn: 0.1135367	total: 3m 17s	remaining: 4m 53s
201:	learn: 0.1131075	total: 3m 17s	remaining: 4m 51s
202:	learn: 0.1127891	total: 3m 18s	remaining: 4m 50s
203:	learn: 0.1124869	total: 3m 19s	remaining: 4m 49s
204:	learn: 0.1122486	total: 3m 20s	remaining: 4m 48s
205:	learn: 0.1119664	total: 3m 21s	remaining: 4m 47s
206:	learn: 0.1116636	total: 3m 22s	remaining: 4m 46s
207:	learn: 0.1114524	total: 3m 23s	remaining: 4m 45s
208:	learn: 0.1109892	total: 3m 24s	remaining: 4m 44s
209:	learn: 0.1106711	total: 3m 25s	remaining: 4m 43s
210:	learn: 0.1104913	total: 3m 27s	remaining: 4m 43s
211:	learn: 0.1100200	total: 3m 28s	remaining: 4m 43s
212:	learn: 0.1098683	total: 3m 29s	remaining: 4m 42s
213:	learn: 0.1096549	total: 3m 30s	remaining: 4m 41s
214:	learn: 0.1092018	total: 3m 31s	remaining: 4m 40s
215:	learn: 0.1089497	total: 3m 32s	remaining: 4m 39s
216:	learn: 0.1086285	total: 3m 33s	remaining: 4m 38s
217:	learn: 0.1084029	total: 3m 34s	remaining: 4m 37s
218:	learn: 0.1081074	total: 3m 35s	remaining: 4m 36s
219:	learn: 0.1079444	total: 3m 36s	remaining: 4m 35s
220:	learn: 0.1077194	total: 3m 37s	remaining: 4m 34s
221:	learn: 0.1073928	total: 3m 38s	remaining: 4m 33s
222:	learn: 0.1073486	total: 3m 39s	remaining: 4m 32s
223:	learn: 0.1071480	total: 3m 40s	remaining: 4m 31s
224:	learn: 0.1067038	total: 3m 41s	remaining: 4m 30s
225:	learn: 0.1063949	total: 3m 42s	remaining: 4m 29s
226:	learn: 0.1063565	total: 3m 43s	remaining: 4m 28s
227:	learn: 0.1061665	total: 3m 44s	remaining: 4m 27s
228:	learn: 0.1060854	total: 3m 45s	remaining: 4m 26s
229:	learn: 0.1058926	total: 3m 46s	remaining: 4m 25s
230:	learn: 0.1057213	total: 3m 47s	remaining: 4m 24s
231:	learn: 0.1053642	total: 3m 48s	remaining: 4m 23s
232:	learn: 0.1052364	total: 3m 49s	remaining: 4m 22s
233:	learn: 0.1048092	total: 3m 50s	remaining: 4m 21s
234:	learn: 0.1045113	total: 3m 51s	remaining: 4m 20s
235:	learn: 0.1042648	total: 3m 52s	remaining: 4m 19s
236:	learn: 0.1041457	total: 3m 53s	remaining: 4m 18s
237:	learn: 0.1039677	total: 3m 54s	remaining: 4m 17s
238:	learn: 0.1038000	total: 3m 55s	remaining: 4m 16s
239:	learn: 0.1035965	total: 3m 56s	remaining: 4m 15s
240:	learn: 0.1033798	total: 3m 57s	remaining: 4m 14s
241:	learn: 0.1031737	total: 3m 58s	remaining: 4m 13s
242:	learn: 0.1030932	total: 3m 59s	remaining: 4m 12s
243:	learn: 0.1028869	total: 3m 59s	remaining: 4m 11s
244:	learn: 0.1026197	total: 4m	remaining: 4m 10s
245:	learn: 0.1022675	total: 4m 1s	remaining: 4m 9s
246:	learn: 0.1020907	total: 4m 2s	remaining: 4m 8s
247:	learn: 0.1019151	total: 4m 3s	remaining: 4m 7s
248:	learn: 0.1015412	total: 4m 4s	remaining: 4m 6s
249:	learn: 0.1014543	total: 4m 5s	remaining: 4m 5s
250:	learn: 0.1012371	total: 4m 6s	remaining: 4m 4s
251:	learn: 0.1011372	total: 4m 7s	remaining: 4m 3s
252:	learn: 0.1010816	total: 4m 8s	remaining: 4m 2s
253:	learn: 0.1010292	total: 4m 9s	remaining: 4m 1s
254:	learn: 0.1009183	total: 4m 10s	remaining: 4m
255:	learn: 0.1004615	total: 4m 11s	remaining: 3m 59s
256:	learn: 0.1000997	total: 4m 12s	remaining: 3m 58s
257:	learn: 0.1000396	total: 4m 13s	remaining: 3m 57s
258:	learn: 0.0999679	total: 4m 14s	remaining: 3m 56s
259:	learn: 0.0997859	total: 4m 15s	remaining: 3m 55s
260:	learn: 0.0996028	total: 4m 16s	remaining: 3m 54s
261:	learn: 0.0992534	total: 4m 17s	remaining: 3m 53s
262:	learn: 0.0990751	total: 4m 18s	remaining: 3m 52s
263:	learn: 0.0989163	total: 4m 19s	remaining: 3m 51s
264:	learn: 0.0987437	total: 4m 20s	remaining: 3m 50s
265:	learn: 0.0986540	total: 4m 21s	remaining: 3m 49s
266:	learn: 0.0984340	total: 4m 21s	remaining: 3m 48s
267:	learn: 0.0983069	total: 4m 22s	remaining: 3m 47s
268:	learn: 0.0982036	total: 4m 23s	remaining: 3m 46s
269:	learn: 0.0981728	total: 4m 24s	remaining: 3m 45s
270:	learn: 0.0979096	total: 4m 25s	remaining: 3m 44s
271:	learn: 0.0976102	total: 4m 26s	remaining: 3m 43s
272:	learn: 0.0974254	total: 4m 27s	remaining: 3m 42s
273:	learn: 0.0972335	total: 4m 28s	remaining: 3m 41s
274:	learn: 0.0968111	total: 4m 29s	remaining: 3m 40s
275:	learn: 0.0965455	total: 4m 30s	remaining: 3m 39s
276:	learn: 0.0962816	total: 4m 31s	remaining: 3m 38s
277:	learn: 0.0961690	total: 4m 32s	remaining: 3m 37s
278:	learn: 0.0958976	total: 4m 33s	remaining: 3m 36s
279:	learn: 0.0956381	total: 4m 34s	remaining: 3m 35s
280:	learn: 0.0953889	total: 4m 35s	remaining: 3m 34s
281:	learn: 0.0950822	total: 4m 36s	remaining: 3m 33s
282:	learn: 0.0946666	total: 4m 37s	remaining: 3m 32s
283:	learn: 0.0945434	total: 4m 37s	remaining: 3m 31s
284:	learn: 0.0944803	total: 4m 38s	remaining: 3m 30s
285:	learn: 0.0941653	total: 4m 39s	remaining: 3m 29s
286:	learn: 0.0939326	total: 4m 40s	remaining: 3m 28s
287:	learn: 0.0936952	total: 4m 41s	remaining: 3m 27s
288:	learn: 0.0935912	total: 4m 42s	remaining: 3m 26s
289:	learn: 0.0933339	total: 4m 43s	remaining: 3m 25s
290:	learn: 0.0932338	total: 4m 44s	remaining: 3m 24s
291:	learn: 0.0931988	total: 4m 45s	remaining: 3m 23s
292:	learn: 0.0929540	total: 4m 46s	remaining: 3m 22s
293:	learn: 0.0928284	total: 4m 47s	remaining: 3m 21s
294:	learn: 0.0926288	total: 4m 48s	remaining: 3m 20s
295:	learn: 0.0923394	total: 4m 49s	remaining: 3m 19s
296:	learn: 0.0921180	total: 4m 50s	remaining: 3m 18s
297:	learn: 0.0919493	total: 4m 51s	remaining: 3m 17s
298:	learn: 0.0918295	total: 4m 52s	remaining: 3m 16s
299:	learn: 0.0915626	total: 4m 53s	remaining: 3m 15s
300:	learn: 0.0912198	total: 4m 54s	remaining: 3m 14s
301:	learn: 0.0909756	total: 4m 55s	remaining: 3m 13s
302:	learn: 0.0907272	total: 4m 55s	remaining: 3m 12s
303:	learn: 0.0905283	total: 4m 57s	remaining: 3m 11s
304:	learn: 0.0902891	total: 4m 58s	remaining: 3m 10s
305:	learn: 0.0898525	total: 4m 59s	remaining: 3m 9s
306:	learn: 0.0897635	total: 5m	remaining: 3m 8s
307:	learn: 0.0893776	total: 5m 1s	remaining: 3m 8s
308:	learn: 0.0890888	total: 5m 2s	remaining: 3m 7s
309:	learn: 0.0889036	total: 5m 4s	remaining: 3m 6s

310:	learn: 0.0887425	total: 5m 5s	remaining: 3m 5s
311:	learn: 0.0884695	total: 5m 6s	remaining: 3m 4s
312:	learn: 0.0883498	total: 5m 7s	remaining: 3m 3s
313:	learn: 0.0882874	total: 5m 8s	remaining: 3m 2s
314:	learn: 0.0882325	total: 5m 9s	remaining: 3m 1s
315:	learn: 0.0881309	total: 5m 11s	remaining: 3m 1s
316:	learn: 0.0879880	total: 5m 11s	remaining: 3m
317:	learn: 0.0876908	total: 5m 13s	remaining: 2m 59s
318:	learn: 0.0875565	total: 5m 14s	remaining: 2m 58s
319:	learn: 0.0874740	total: 5m 15s	remaining: 2m 57s
320:	learn: 0.0872647	total: 5m 17s	remaining: 2m 56s
321:	learn: 0.0871843	total: 5m 18s	remaining: 2m 56s
322:	learn: 0.0867482	total: 5m 19s	remaining: 2m 55s
323:	learn: 0.0866199	total: 5m 21s	remaining: 2m 54s
324:	learn: 0.0864828	total: 5m 22s	remaining: 2m 53s
325:	learn: 0.0863518	total: 5m 23s	remaining: 2m 52s
326:	learn: 0.0861693	total: 5m 25s	remaining: 2m 51s
327:	learn: 0.0859614	total: 5m 26s	remaining: 2m 50s
328:	learn: 0.0857685	total: 5m 27s	remaining: 2m 49s
329:	learn: 0.0855706	total: 5m 28s	remaining: 2m 49s
330:	learn: 0.0854498	total: 5m 29s	remaining: 2m 48s
331:	learn: 0.0853035	total: 5m 30s	remaining: 2m 47s
332:	learn: 0.0851532	total: 5m 31s	remaining: 2m 46s
333:	learn: 0.0851040	total: 5m 32s	remaining: 2m 45s
334:	learn: 0.0849192	total: 5m 33s	remaining: 2m 44s
335:	learn: 0.0846611	total: 5m 34s	remaining: 2m 43s
336:	learn: 0.0845658	total: 5m 35s	remaining: 2m 42s
337:	learn: 0.0844183	total: 5m 36s	remaining: 2m 41s
338:	learn: 0.0843517	total: 5m 37s	remaining: 2m 40s
339:	learn: 0.0842422	total: 5m 38s	remaining: 2m 39s
340:	learn: 0.0840886	total: 5m 39s	remaining: 2m 38s
341:	learn: 0.0839248	total: 5m 40s	remaining: 2m 37s
342:	learn: 0.0836327	total: 5m 41s	remaining: 2m 36s
343:	learn: 0.0834857	total: 5m 42s	remaining: 2m 35s
344:	learn: 0.0833590	total: 5m 43s	remaining: 2m 34s
345:	learn: 0.0831390	total: 5m 44s	remaining: 2m 33s
346:	learn: 0.0828084	total: 5m 45s	remaining: 2m 32s
347:	learn: 0.0825507	total: 5m 46s	remaining: 2m 31s
348:	learn: 0.0822176	total: 5m 47s	remaining: 2m 30s
349:	learn: 0.0820794	total: 5m 48s	remaining: 2m 29s
350:	learn: 0.0819578	total: 5m 49s	remaining: 2m 28s
351:	learn: 0.0818800	total: 5m 50s	remaining: 2m 27s
352:	learn: 0.0817427	total: 5m 51s	remaining: 2m 26s
353:	learn: 0.0814854	total: 5m 52s	remaining: 2m 25s
354:	learn: 0.0814374	total: 5m 53s	remaining: 2m 24s
355:	learn: 0.0812774	total: 5m 54s	remaining: 2m 23s
356:	learn: 0.0812003	total: 5m 55s	remaining: 2m 22s
357:	learn: 0.0811038	total: 5m 56s	remaining: 2m 21s
358:	learn: 0.0810251	total: 5m 57s	remaining: 2m 20s
359:	learn: 0.0808067	total: 5m 58s	remaining: 2m 19s
360:	learn: 0.0806152	total: 5m 59s	remaining: 2m 18s
361:	learn: 0.0805219	total: 6m	remaining: 2m 17s
362:	learn: 0.0804517	total: 6m 1s	remaining: 2m 16s
363:	learn: 0.0802911	total: 6m 2s	remaining: 2m 15s
364:	learn: 0.0801885	total: 6m 3s	remaining: 2m 14s
365:	learn: 0.0801483	total: 6m 4s	remaining: 2m 13s
366:	learn: 0.0799721	total: 6m 6s	remaining: 2m 12s
367:	learn: 0.0798200	total: 6m 7s	remaining: 2m 11s
368:	learn: 0.0795972	total: 6m 8s	remaining: 2m 10s
369:	learn: 0.0794109	total: 6m 10s	remaining: 2m 10s
370:	learn: 0.0791269	total: 6m 12s	remaining: 2m 9s
371:	learn: 0.0789583	total: 6m 13s	remaining: 2m 8s
372:	learn: 0.0788045	total: 6m 15s	remaining: 2m 7s
373:	learn: 0.0786546	total: 6m 16s	remaining: 2m 6s
374:	learn: 0.0785881	total: 6m 17s	remaining: 2m 5s
375:	learn: 0.0785051	total: 6m 18s	remaining: 2m 4s
376:	learn: 0.0784358	total: 6m 19s	remaining: 2m 3s
377:	learn: 0.0782378	total: 6m 20s	remaining: 2m 2s
378:	learn: 0.0781058	total: 6m 21s	remaining: 2m 1s
379:	learn: 0.0778772	total: 6m 22s	remaining: 2m
380:	learn: 0.0777497	total: 6m 23s	remaining: 1m 59s
381:	learn: 0.0773378	total: 6m 24s	remaining: 1m 58s
382:	learn: 0.0772296	total: 6m 25s	remaining: 1m 57s
383:	learn: 0.0770436	total: 6m 27s	remaining: 1m 56s
384:	learn: 0.0769886	total: 6m 28s	remaining: 1m 55s
385:	learn: 0.0769234	total: 6m 29s	remaining: 1m 54s
386:	learn: 0.0768783	total: 6m 30s	remaining: 1m 53s
387:	learn: 0.0767965	total: 6m 31s	remaining: 1m 52s
388:	learn: 0.0764980	total: 6m 32s	remaining: 1m 52s
389:	learn: 0.0763752	total: 6m 33s	remaining: 1m 51s
390:	learn: 0.0761643	total: 6m 34s	remaining: 1m 50s
391:	learn: 0.0758955	total: 6m 35s	remaining: 1m 49s
392:	learn: 0.0758226	total: 6m 36s	remaining: 1m 48s
393:	learn: 0.0757861	total: 6m 37s	remaining: 1m 47s
394:	learn: 0.0755859	total: 6m 38s	remaining: 1m 46s
395:	learn: 0.0754750	total: 6m 39s	remaining: 1m 44s
396:	learn: 0.0753826	total: 6m 40s	remaining: 1m 43s
397:	learn: 0.0752953	total: 6m 41s	remaining: 1m 42s
398:	learn: 0.0751353	total: 6m 42s	remaining: 1m 41s
399:	learn: 0.0750847	total: 6m 43s	remaining: 1m 40s
400:	learn: 0.0750433	total: 6m 45s	remaining: 1m 39s
401:	learn: 0.0749353	total: 6m 46s	remaining: 1m 38s
402:	learn: 0.0747616	total: 6m 47s	remaining: 1m 37s
403:	learn: 0.0744617	total: 6m 48s	remaining: 1m 36s
404:	learn: 0.0743417	total: 6m 49s	remaining: 1m 35s
405:	learn: 0.0741307	total: 6m 49s	remaining: 1m 34s
406:	learn: 0.0739665	total: 6m 50s	remaining: 1m 33s
407:	learn: 0.0738957	total: 6m 51s	remaining: 1m 32s
408:	learn: 0.0736583	total: 6m 52s	remaining: 1m 31s
409:	learn: 0.0734219	total: 6m 53s	remaining: 1m 30s
410:	learn: 0.0733228	total: 6m 54s	remaining: 1m 29s
411:	learn: 0.0732265	total: 6m 55s	remaining: 1m 28s
412:	learn: 0.0730908	total: 6m 56s	remaining: 1m 27s
413:	learn: 0.0729913	total: 6m 57s	remaining: 1m 26s
414:	learn: 0.0728730	total: 6m 58s	remaining: 1m 25s
415:	learn: 0.0726150	total: 6m 59s	remaining: 1m 24s
416:	learn: 0.0724629	total: 7m	remaining: 1m 23s
417:	learn: 0.0723610	total: 7m 1s	remaining: 1m 22s
418:	learn: 0.0722413	total: 7m 2s	remaining: 1m 21s
419:	learn: 0.0722048	total: 7m 3s	remaining: 1m 20s
420:	learn: 0.0720192	total: 7m 4s	remaining: 1m 19s
421:	learn: 0.0719296	total: 7m 5s	remaining: 1m 18s
422:	learn: 0.0717639	total: 7m 6s	remaining: 1m 17s
423:	learn: 0.0717389	total: 7m 7s	remaining: 1m 16s
424:	learn: 0.0714650	total: 7m 8s	remaining: 1m 15s
425:	learn: 0.0713254	total: 7m 9s	remaining: 1m 14s
426:	learn: 0.0712506	total: 7m 10s	remaining: 1m 13s
427:	learn: 0.0710796	total: 7m 11s	remaining: 1m 12s
428:	learn: 0.0709951	total: 7m 12s	remaining: 1m 11s
429:	learn: 0.0708649	total: 7m 13s	remaining: 1m 10s
430:	learn: 0.0706838	total: 7m 14s	remaining: 1m 9s
431:	learn: 0.0706446	total: 7m 16s	remaining: 1m 8s
432:	learn: 0.0705138	total: 7m 17s	remaining: 1m 7s
433:	learn: 0.0701592	total: 7m 18s	remaining: 1m 6s
434:	learn: 0.0700797	total: 7m 20s	remaining: 1m 5s
435:	learn: 0.0700259	total: 7m 21s	remaining: 1m 4s
436:	learn: 0.0699918	total: 7m 22s	remaining: 1m 3s
437:	learn: 0.0698514	total: 7m 23s	remaining: 1m 2s
438:	learn: 0.0697267	total: 7m 24s	remaining: 1m 1s
439:	learn: 0.0696393	total: 7m 26s	remaining: 1m
440:	learn: 0.0695178	total: 7m 27s	remaining: 59.8s
441:	learn: 0.0693513	total: 7m 28s	remaining: 58.8s
442:	learn: 0.0692602	total: 7m 30s	remaining: 57.9s
443:	learn: 0.0690235	total: 7m 31s	remaining: 56.9s
444:	learn: 0.0689498	total: 7m 32s	remaining: 55.9s
445:	learn: 0.0686234	total: 7m 33s	remaining: 54.9s
446:	learn: 0.0685073	total: 7m 34s	remaining: 53.9s
447:	learn: 0.0684100	total: 7m 35s	remaining: 52.9s
448:	learn: 0.0683170	total: 7m 36s	remaining: 51.9s
449:	learn: 0.0682944	total: 7m 37s	remaining: 50.9s
450:	learn: 0.0681814	total: 7m 38s	remaining: 49.9s
451:	learn: 0.0679857	total: 7m 39s	remaining: 48.8s
452:	learn: 0.0678796	total: 7m 41s	remaining: 47.8s
453:	learn: 0.0678352	total: 7m 43s	remaining: 46.9s
454:	learn: 0.0676441	total: 7m 44s	remaining: 45.9s
455:	learn: 0.0674188	total: 7m 45s	remaining: 44.9s
456:	learn: 0.0672576	total: 7m 46s	remaining: 43.9s
457:	learn: 0.0670433	total: 7m 47s	remaining: 42.9s
458:	learn: 0.0669376	total: 7m 48s	remaining: 41.9s
459:	learn: 0.0668193	total: 7m 50s	remaining: 40.9s
460:	learn: 0.0666604	total: 7m 51s	remaining: 39.9s
461:	learn: 0.0664915	total: 7m 52s	remaining: 38.9s
462:	learn: 0.0662683	total: 7m 53s	remaining: 37.8s
463:	learn: 0.0661988	total: 7m 54s	remaining: 36.9s

464:	learn: 0.0661238	total: 7m 56s	remaining: 35.8s
465:	learn: 0.0660095	total: 7m 57s	remaining: 34.8s
466:	learn: 0.0659056	total: 7m 58s	remaining: 33.8s
467:	learn: 0.0657571	total: 7m 59s	remaining: 32.8s
468:	learn: 0.0656461	total: 8m	remaining: 31.8s
469:	learn: 0.0656124	total: 8m 1s	remaining: 30.8s
470:	learn: 0.0654953	total: 8m 2s	remaining: 29.7s
471:	learn: 0.0653480	total: 8m 3s	remaining: 28.7s
472:	learn: 0.0652491	total: 8m 4s	remaining: 27.7s
473:	learn: 0.0651911	total: 8m 6s	remaining: 26.7s
474:	learn: 0.0651303	total: 8m 8s	remaining: 25.7s
475:	learn: 0.0649491	total: 8m 9s	remaining: 24.7s
476:	learn: 0.0647513	total: 8m 10s	remaining: 23.6s
477:	learn: 0.0645989	total: 8m 11s	remaining: 22.6s
478:	learn: 0.0645390	total: 8m 12s	remaining: 21.6s
479:	learn: 0.0644827	total: 8m 13s	remaining: 20.6s
480:	learn: 0.0643284	total: 8m 14s	remaining: 19.5s
481:	learn: 0.0642462	total: 8m 15s	remaining: 18.5s
482:	learn: 0.0642227	total: 8m 16s	remaining: 17.5s
483:	learn: 0.0641898	total: 8m 17s	remaining: 16.5s
484:	learn: 0.0641284	total: 8m 19s	remaining: 15.4s
485:	learn: 0.0638206	total: 8m 20s	remaining: 14.4s
486:	learn: 0.0637415	total: 8m 21s	remaining: 13.4s
487:	learn: 0.0636733	total: 8m 22s	remaining: 12.4s
488:	learn: 0.0636081	total: 8m 23s	remaining: 11.3s
489:	learn: 0.0634690	total: 8m 24s	remaining: 10.3s
490:	learn: 0.0631945	total: 8m 25s	remaining: 9.27s
491:	learn: 0.0630524	total: 8m 26s	remaining: 8.24s
492:	learn: 0.0629403	total: 8m 27s	remaining: 7.21s
493:	learn: 0.0627472	total: 8m 28s	remaining: 6.18s
494:	learn: 0.0626932	total: 8m 29s	remaining: 5.15s
495:	learn: 0.0625502	total: 8m 30s	remaining: 4.12s
496:	learn: 0.0625191	total: 8m 31s	remaining: 3.09s
497:	learn: 0.0624579	total: 8m 32s	remaining: 2.06s
498:	learn: 0.0622818	total: 8m 33s	remaining: 1.03s
499:	learn: 0.0622252	total: 8m 34s	remaining: 0us
CPU times: user 25min 1s, sys: 12.8 s, total: 25min 13s
Wall time: 8min 37s

In [136]:
fi = pd.DataFrame(cb.feature_importances_, index=X_train.columns, columns=['importance'])
fi.sort_values(by='importance', ascending=False)

                            importance
n_sold_category              10.546909
avg_transaction_category     10.229485
item_score                    7.115310
price                         5.680273
n_transactions_per_week       5.540130
Word2Vec_distance_from_avg    5.165043
item_id                       4.834943
user_id                       4.586020
avg_basket_department         4.270882
sub_commodity_desc            4.090513
avg_cheque                    3.777809
avg_price                     3.731196
Word2Vec_length               3.394665
commodity_desc                3.344693
avg_interval                  3.253788
curr_size_of_product          3.158692
quantity_per_week             3.005948
department                    2.875065
n_unique_stores               2.564131
manufacturer                  2.507873
Last5sales                    1.296100
age_desc                      0.941942
income_desc                   0.929972
household_size_desc           0.796756
kid_category_desc             0.632903
homeowner_desc                0.520551
hh_comp_desc                  0.487317
marital_status_code           0.459093
brand                         0.261996
Missing price                 0.000000
Missing quantity per week     0.000000

Оценим качество построенной модели с помощью метрики precision@5 на валидационном датасете.

In [138]:
df_ranker_predict = df_ranker_train.copy()
df_ranker_predict['proba_item_purchase'] = train_preds[:,1]

In [139]:
N_PREDICT = 100
TOPK_PRECISION = 5

result_eval_ranker = data_val_ranker.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_ranker.columns=[USER_COL, ACTUAL_COL]
result_eval_ranker['own_rec'] = make_recommendations(result_eval_ranker, 
                                                     recommender.get_own_recommendations, N_PREDICT=N_PREDICT)

sorted(calc_precision(result_eval_ranker, TOPK_PRECISION), key=lambda x: x[1], reverse=True)

[('own_rec', 0.24029411764705885)]

In [140]:
result_eval_ranker['reranked_own_rec'] = result_eval_ranker[USER_COL].\
                                            apply(lambda user_id: rerank(user_id, df_ranker_predict))
print(*sorted(calc_precision(result_eval_ranker, TOPK_PRECISION), key=lambda x: x[1], reverse=True), sep='\n')

('reranked_own_rec', 0.2996266666666667)
('own_rec', 0.24029411764705885)

/Users/rk/Documents/Recommender_systems/L8/src/metrics.py:20: RuntimeWarning: invalid value encountered in long_scalars
  return flags.sum() / len(recommended_list)

Как видим с помощью модели второго уровня удалось значительно поднять метрики для построенных рекомендаций.

### 7. Рекомендации для тестового датасета <a class="anchor" id="final_recommendations"></a>

Теперь построим предсказания для итогового датасета.

In [159]:
data_test = pd.read_csv('retail_test1.csv')
data_test.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,1340,41652823310,664,912987,1,8.49,446,0.0,52,96,0.0,0.0
1,588,41652838477,664,1024426,1,6.29,388,0.0,8,96,0.0,0.0
2,2070,41652857291,664,995242,5,9.10,311,-0.6,46,96,0.0,0.0
3,1602,41665647035,664,827939,1,7.99,334,0.0,1741,96,0.0,0.0
4,1602,41665647035,664,927712,1,0.59,334,-0.4,1741,96,0.0,0.0

In [162]:
df_test_candidates = pd.DataFrame(data_test[USER_COL].unique())
df_test_candidates.columns = [USER_COL]

df_test_candidates['candidates'] = make_recommendations(df_test_candidates, 
                                                         recommender.get_own_recommendations, 
                                                         N_PREDICT=N_PREDICT)

ValueError: userid is out of bounds of the user_items matrix